body {
    background-color: #f0f2f5;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
.login-form h2 {
    margin-bottom: 30px;
    color: #1877f2;
}
.btn-facebook {
    background-color: #1877f2;
    border: none;
    color: white;
}
.btn-facebook:hover {
    background-color: #165cdb;
}


body {
    background-color: #f0f2f5;
}
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.register-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}
.register-form h2 {
    margin-bottom: 30px;
    color: #1877f2;
}
.btn-facebook {
    background-color: #1877f2;
    border: none;
    color: white;
}
.btn-facebook:hover {
    background-color: #165cdb;
}
.Register-text {
    text-align: center;
}
.Login-text {
    text-align: center;
}